.title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0;
    color: white;
}
.description {
    width: 330px;
    margin-top: 10px;
    font-size: 13px;
    color: rgb(160, 160, 160);
}
.card {
    background-color: rgb(33, 33, 33);
    width: 360px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}