p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
input {
    display: block;
    margin-top: 6px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color:rgb(245, 245, 248);
    font-size: 12px;
    border: none;
}
.button1 {
    margin-top: 25px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
}
.button2 {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
}
