input {
    padding-left: 130px;
    padding-top: 10px;
}
p {
    font-size: 12.8px;
}
button {
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgb(56, 56, 194);
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 16px;
}